table{

  width:100%;
  border-width: 2px;
  border-style:solid;
  



  }

th, td{

  border: 1px solid black;



 }


tbody th:nth-child(1){
   font-style: italic;
   font-weight: normal;  
   color:black;

 }

tbody td:nth-child(2){ 
  color:red;

 }

tbody td:nth-child(4){
   color:blue;

 }

tbody tr:nth-child(even){
   background-color:#79CDCD;

 }

tbody tr:nth-child(odd){
   background-color:#78AB46;

 }

dt:hover { 

   background-color: purple;

}


.outer-container {
    padding: 25px;
    border: 25px;
    margin-top: 20px;
    margin-left:auto;
    background-color: pink;
    width: 75%;
}

.inner-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blue;
    width: 25%;
    height: 25%;
}


